<%= form_for @gist do |f|%>
<div class="container">
	
	<div class="input-field col s6">
        <%= f.text_field :title, placeholder: 'عنوان الجوهر', class: 'validate' %>
    </div>

    <div class="input-field col s6">
        <%= f.text_area :description, placeholder: 'وصف الجوهر', class: 'materialize-textarea' %>
    </div>
	
	<div id="snippets">
	<%= f.fields_for :snippets do |snippet| %>
		<%= render "snippet_fields", f: snippet %>
	<% end %>
	</div>

	<div class="row">
		<div class="col l8 pull-l2 s6">
			<%= link_to_add_association 'ضِف ملفاً جديداً', f, :snippets, class: 'add_fields btn wave-effect' %>
		</div>
	</div>
	<div class="row">
		<div class="input-field col l8 pull-l2 s12">
	        <%= f.select :tag_list, @gist.tags, {prompt: 'ضِف وسوماً للجوهر (افصل بين الوسوم المضافة بفاصلة مثل [ جوهر, تجربة ] )'},{class: 'tags'} %>
	    </div>
    </div>
	

	<div class="row">
		<div class="col l8 pull-l2 s6">
	<%= f.submit "حفظ", class: 'update-gist btn wave-effect' %>
		</div>
	</div>
</div>
<% end %>


<script type="text/javascript">
	// $('#tags').tagsInput({
	// 	'height':'90px',
	//    	'width':'100%',
	//    	'interactive':true,
	//    	'defaultText':'ضِف وسماً '
	// });
	$(".tags").select2({
	  tags: true,
	  language: "ar",
	  dir: "rtl"
	})
</script>