<div class="container">
<%= form_for @gist do |f|%>
	<h4>إضافة جوهر جديد</h4>
	<div class="input-field col s6">
        <label for="title">عنوان الجوهر</label>
        <%= f.text_field :title, class: 'validate' %>
    </div>

    <div class="input-field col s6">
        <label for="title">وصف الجوهر</label>
        <%= f.text_area :description, class: 'materialize-textarea' %>
    </div>
	
	

	<div id="snippets">
	<%= f.fields_for :snippets do |snippet| %>
		<%= render "snippet_fields", f: snippet %>
	<% end %>
	</div>

	<div class="links">
		<%= link_to_add_association 'ضِف ملفاً جديداً', f, :snippets, class: 'add_fields btn wave-effect' %>
	</div>
	<br>
	<div class="input-field col s6">
        <label for="title">ضِف وسوماً للجوهر</label>
        <%= f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'validate' %>
    </div>
	
	
	<%= f.submit "حفظ", class: 'update-gist btn wave-effect' %>
<% end %>
</div>