<div class="container">
<%= form_for @gist do |f|%>
	<p>إضافة جوهر جديد</p>
	<%= f.text_field :title, placeholder: 'عنوان الجوهر' %>
	<%= f.text_area :description, placeholder: 'شرح الجوهر' %>

	<div id="snippets">
	<%= f.fields_for :snippets do |snippet| %>
		<%= render "snippet_fields", f: snippet %>
	<% end %>
	</div>

	<div class="links">
		<%= link_to_add_association 'أضف ملفاً', f, :snippets %>
	</div>

	<%= f.text_field :tag_list, value: f.object.tag_list.to_s, placeholder: 'أضف وسوماً خاصة بالجوهر' %>
	
	<%= f.submit %>
<% end %>
</div>