<% unless current_user %>
	<%= link_to new_user_session_path, class: 'waves-effect waves-light btn-large signin' do %>
	    تسجيل الدخول
	    <i class="zmdi zmdi-account"></i>
	<% end %>
	<%= link_to new_user_registration_path, class: 'waves-effect waves-light btn-large signup' do %>
	        تسجيل
		<i class="zmdi zmdi-account"></i>
	<% end %>
	<li><%= link_to "راسلنا", new_contact_path %></li>
<% else %>
		<li><%= link_to "جوهري", gists_path %></li>
		<li><%= link_to "اكتشف", explore_gists_path %></li>
		<li><%= link_to "المفضلة", bookmarks_path %></li>
		<li><%= link_to "إضافة جوهر جديد", new_gist_path %></li>
		<% notification_count = current_user.unread_notifications_count %>
		<% if notification_count.zero? %>
			<li><%= link_to "التنبيهات (#{notification_count})", notifications_path %></li>
		<% else %>
			<li><%= link_to "التنبيهات (#{notification_count})", notifications_path, class: 'notification' %></li>
		<% end %>
		<li><%= link_to "راسلنا", new_contact_path %></li>
		<li><%= link_to "تسجيل الخروج", destroy_user_session_path, method: :delete %></li>
<% end %>