<!DOCTYPE html>
<html>
  <head>
    <title>جوهر | مدير قصاصاتك البرمجية</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'%>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css'%>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Cairo'%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js' %>
  </head>
  <body>
  <main>
  <nav>
    <div class="nav-wrapper">
      <% if user_signed_in? %>
        <%= link_to "جوهر", gists_path, class: 'brand-logo'%>
      <% else %>
        <%= link_to "جوهر", root_path, class: 'brand-logo'%>
      <% end %>
        
      <ul class="right hide-on-med-and-down" id="nav-mobile">
            <%= render 'layouts/navbar'%>
      </ul>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="zmdi zmdi-menu"></i></a>
      <ul class="side-nav" id="mobile-demo">
            <%= render 'layouts/navbar'%>
      </ul>
      <div class="search">
          <a href="#">
              <i class="zmdi zmdi-search"></i>
          </a>
      </div>
    </div>
</nav>
  <div class="box-search">
    <div class="container">
       <div class="close">
           <i class="zmdi zmdi-close"></i>
       </div>
        <%= form_tag('/gists/search', method: :get, class: "box-form") do -%>
         <div class="input-field">
          <%= text_field_tag 'query', nil, placeholder: 'ابحث ..' %>
        </div>
        <div class="input-field">
          <%= submit_tag 'ابحث', class: 'waves-effect waves-light btn-large' %>
        </div>  
        <% end %>
    </div>
  </div>

    <%= yield %>
  </main>
  <footer>
    <div class="container">
      <p><%= t('views.copyrights')%></p>
    </div>
  </footer>
  </body>
</html>
